.env.local
.idea/
node_modules/
dist/
build/
cmake-build-debug/
*.a
# *.wasm - commented out so gh-pages can deploy chip-core.wasm
!public/*.wasm
*.wasm.map
lib*.js
public/soundfonts/
scripts/untracked/
src/-catalog-tests/
src/chip-core.js
server/catalog.json
server/directories.json
catalog
public/music
*.backup/
_ignore/
.claude/tmp
